html{
    background-color: lavender;
}
body{
    background-color: rgb(216, 216, 252);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(0, 20, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: rgb(59, 59, 255);
}
img[src="images/CohenBaldwin-Host.jpg"]
{
    height: 30%;
    width: 30%;
}
img[src="images/CohenBaldwin-Join.png"]
{
    height: 40%;
    width: 40%;
}