html, body {
  height: 100%;
  margin: 0;
  background-color: lavender;
}

body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(0, 20, 73);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul { list-style-type: none; margin: 0; padding: 0; }
nav li { background-color: aquamarine; margin-bottom: 20px; padding-bottom: 5px; }
nav a  { text-decoration: none; color: rgb(59, 59, 255); }
img[src="images/CohenBaldwin.jpg"]
{
    width: 1000px;
    height: auto;
}
img[src="images/CohenBaldwin-Host.jpg"]
{
    width: 500px;
    height: auto;
}
img[src="images/CohenBaldwin-Join.png"]
{
    width: 700px;
    height: auto;
}
.grid-container{
    min-height: 100vh;
    width: 60%;
    margin: auto;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(150, 222, 255);
    padding: 10px;
}
.item{
    background-color: rgb(242, 242, 252);
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 1;
}
.item2{
    background-color: rgb(242, 242, 252);
    border: 1px solid black;
    padding: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 2;
}
.item3{
    background-color: rgb(242, 242, 252);
    padding: 30px;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-column: span 3;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin-top: 10px;
    border: 1px solid #888;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: aquamarine;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}